<div id="<%= dom_id stock %>">
  <p>
    <strong>Brownie:</strong>
    <%= stock.brownies %>
  </p>

  <p>
    <strong>Donut:</strong>
    <%= stock.donuts %>
  </p>

  <p>
    <strong>Milk:</strong>
    <%= stock.milk %>
  </p>

  <p>
    <strong>Coffee:</strong>
    <%= stock.coffee %>
  </p>

  <p>
    <strong>Sugar:</strong>
    <%= stock.sugar %>
  </p>

</div>
